@tailwind base;
@tailwind components;
@tailwind utilities;



.card {
  border: 2px solid skyblue; /* Light blue border */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.card {
  transition: all 0.3s ease-in-out; /* Add transition effect */
}
.card:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Hide the links container by default */
#links-container {
  display: none;
}

/* Define styles for the toggle button on small screens */
@media screen and (max-width: 767px) {
  #toggle-btn {
    order: 2; /* Move toggle button to the end */
    margin-right: 20px; /* Add some space between toggle button and links */
  }
}

/* Define styles for the links container on small screens */
@media screen and (max-width: 767px) {
  .show-links {
    display: block; /* Show the links container when it has the show-links class */
    margin-top: 10px; /* Add some space between toggle button and links */
  }
}