@tailwind base;
@tailwind components;
@tailwind utilities;



.card {
  border: 2px solid skyblue; /* Light blue border */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.card {
  transition: all 0.3s ease-in-out; /* Add transition effect */
}
.card:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}
